body{
    background: linear-gradient(90deg, #3f5efb 4%, rgba(252,70,107,1) 100%);
}

main{
    display: flex;
    align-items:center;
    height: 95vh;
    color: white;
    justify-content: space-between;
}

.presentacion, .conetMenu {
    flex: 1;     /* Ocupa el mismo espacio */
    display: flex;    /* Convertir en flex container */
    flex-direction: column;  /* Orientación en columna */
    margin: 4rem;
}

.presentacion{
    padding-left: 5rem;
}

.conetMenu{
    justify-content: center;
    align-items: center;  
}

h1{
    font-size: 8rem;
    font-family: 'Quicksand', sans-serif;
    margin-left: -.5rem;
    margin-bottom: 1rem;
}

h2{
    font-size: 2rem;
    padding-bottom: 1rem;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
}

p{
    font-size: 1.2rem;
    font-family: 'Quicksand', sans-serif;
}

a{
    color: white;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    width: 400px;
    height: 100px;
    background: #6c2f7e34;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    margin: 2rem;
    box-shadow: -7px 7px rgba(255, 255, 255, 0.863);
}

a:hover{
    background: #6c2f7e9f;
    box-shadow: -10px 10px rgba(255, 255, 255, 0.863);
    width: 410px;
    height: 105px;
    transition: .5s;
}


.logo{
    font-size: 2rem;
    text-align: center;
    color: white;
    font-family: 'Sacramento', cursive;
}

/*------------------------------ Responsive ------------------------------*/

@media (max-width:1400px) {
    main{
        flex-direction: column;
        height: auto;
    }

    .presentacion{
        padding-left: 0;
    }

    h1{
        font-size: 4rem;
    }

    h2{
        font-size: 1.5rem;
    }
    
    p{
        font-size: 1rem;
    }
  
}


@media (max-width:570px) {
    li{
        width: 250px;
        height: 50px;
    }
}